{% for item in links.items %}
<li class="card">
  <div class="card-content">
    <span class="card-category">{{ item.category }}</span>
    <h2 class="card-title">
      <a href="{{ item.url }}"><img src="https://cdn.glitch.com/81ae7149-14ac-4850-b3b7-034c5373f77a%2Fart_academyweb.jpg?v=1605284128428">   {{ item.title }}</a>
    </h2>
    
     <h2 class="card-title2">
      <a href="{{ item.url }}"><img src="https://cdn.glitch.com/81ae7149-14ac-4850-b3b7-034c5373f77a%2FJamil_Shammout_and_Michel_Najjar_Banner_at_Expo_1978_Claude_Lazar_1_2090_x_1533.jpg?v=1605284126425" width="500" >   {{ item.title }}</a>
    </h2>
    
    <span class="card-byline">By {{ item.author }}</span>
  </div>
</li>
{% endfor %}
