<footer class="site-footer">
  
<ul class="list-contact">
  
<li>Art Palestine International</li>
<li>Zoghbi building, 4th floor</li>
<li>337, Ramleh Street</li>
<li>Ramallah, Palestine</li>    
  </ul>
  
  
  
  <ul class="list-contact">
<li>T + 961 (0) 1 569 373</li>
<li><a class="footer-hover" href="#">hello@artpalestineinternational.org</a></li>
<li><a class="footer-hover" href="#">Facebook</a></li>
<li><a class="footer-hover" href="#">Twitter</a></li>
<li><a class="footer-hover" href="#">Vimeo</a></li>
<li><a class="footer-hover" href="#">Instagram</a></li>
<li><a class="footer-hover" href="#">Sign up to our mailing list</a></li>
    
  </ul>
  
  
   <ul class="list-contact">
<li><a class="footer-hover" href="#">About this website</a></li>
<li><a class="footer-hover" href="#">Terms of use</a></li>
<li>© Art Palestine International 2008-2020</li>
    
  </ul>  
  
  
</footer>
