<header class="site-header">
 {% if page.url == "/" %}
  <h1 class="site-name"> 
    <img class="header-size" src="https://cdn.glitch.com/81ae7149-14ac-4850-b3b7-034c5373f77a%2Fcropped.jpg?v=1605810098372">
    </h1>
  {% else %}
  <a href="/" class="site-name "> <img  class="header-size" src="https://cdn.glitch.com/81ae7149-14ac-4850-b3b7-034c5373f77a%2Fcropped.jpg?v=1605810098372"> </a>
  {% endif %}
  

  
</header>

<!--<header class="site-header">
  {% if page.url == "/" %}
  <h1 class="site-name"> {{ siteData.name }} </h1>
  {% else %}
  <a href="/" class="site-name">  {{ siteData.name }} </a>
  {% endif %}
</header>-->


