* {
  box-sizing: border-box;
}

body {
  
  background-color: white;
  color: $color-text-body;
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  margin: 0;
}

main {
  flex: 1 0 auto;
  padding: 24px 18px;
}


.aboutheader{
  font-size: 35px;
  margin-top: 100px;
  
 
  margin-left:300px;
  
  
 
 
  }

.aboutparagraph{
  margin-left: 300px;
  width: 500px;
  display: flex;
  justify-content: center;
  
  
}

.advisoryheader{
  
  margin-left: 300px;
  

} 

.advisoryimage{
  
  margin-left: 300px;
    
  
  
}



.advisorynames{
 flex: wrap;
  width: 500px;
  margin-left: 300px;
  
  
  
  
}


.columns{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
  margin-left: 100px;

}


