* {
  box-sizing: border-box;
}

body {
  
  background-color: white;
  color: $color-text-body;
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  margin: 0;
}

main {
  flex: 1 0 auto;
  padding: 24px 18px;
}


h1{
  font-size: 55px;
  
}
