$color-offblack: #0A0908;
$color-offwhite: #FCFCFC;
$color-grey: #ccc;



$color-slate: #22333B;


$color-text-body: $color-slate;
$color-text-link: $color-offblack;
$color-text-link-visited: $color-text-body;



$transition-default: all 300ms;

$font-abeezee: 'ABeeZee', sans-serif;



