/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | @import "card", "faq", "site-nav";
 *   |                        ^^^^^^^^^^
 *   '
 *   src/sass/components/_components.scss 1:24  @import
 *   src/sass/styles.scss 5:1                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  @import \"card\", \"faq\", \"site-nav\";\a   \2502                         ^^^^^^^^^^\a   \2575 \a   src/sass/components/_components.scss 1:24  @import\a   src/sass/styles.scss 5:1                   root stylesheet";
  
  .menu-icon__line {
  background-color: #444;
  height: 2px;
  margin: 8px auto;
  transition: all 260ms ease-in-out;
  width: 42px;
}

[aria-expanded=true] .menu-icon__line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
[aria-expanded=true] .menu-icon__line:nth-child(2) {
  opacity: 0;
}
[aria-expanded=true] .menu-icon__line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

@media (max-width: 599px) {
  .site-nav > button:not([aria-expanded]) {
    display: none;
  }
  .site-nav > button[aria-expanded=false] + ul {
    display: none;
  }
}
@media (min-width: 600px) {
  .site-nav > button {
    display: none;
  }
}

}




