/* Error: expected ";".
 *   ,
 * 8 |   width: 100
 *   |             ^
 *   '
 *   src/sass/layout/_site-footer.scss 8:13  @import
 *   src/sass/layout/_layout.scss 4:1        @import
 *   src/sass/styles.scss 4:1                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a   \2577 \a 8 \2502    width: 100\a   \2502              ^\a   \2575 \a   src/sass/layout/_site-footer.scss 8:13  @import\a   src/sass/layout/_layout.scss 4:1        @import\a   src/sass/styles.scss 4:1                root stylesheet';
}
