/* Error: expected "{".
 *    ,
 * 62 |   margin-top: 100px;
 *    |                    ^
 *    '
 *   src/sass/components/_about.scss 62:20      @import
 *   src/sass/components/_components.scss 1:44  @import
 *   src/sass/styles.scss 5:1                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 62 \2502    margin-top: 100px;\a    \2502                     ^\a    \2575 \a   src/sass/components/_about.scss 62:20      @import\a   src/sass/components/_components.scss 1:44  @import\a   src/sass/styles.scss 5:1                   root stylesheet';
}
