#error-content{
  /*display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;*/
   font-family: $font-abeezee;
  font-size:45px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  /*padding-bottom: 50px;*/
  
  
}

.display404{
   display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  font-family: $font-abeezee;
  font-size: 85px;
  
  
  
}