.about-container{
  
   font: {
    family: $font-abeezee;
     color: $color-offblack;    
  }   
  margin: 100px auto 0; 
  width: 800px; 
  
  @media (max-width: 1000px) {     
        
    width: 300px; 
  }
  
}








