.aboutheader{
   
  width: 800px; 
 
  }


.aboutparagraph{
 
  width: 800px;
    
}

.advisoryheader{
  

} 

.advisoryimage{
  
  width: 300px;  
  
}



.advisorynames{
 flex: wrap;
  width: 500px; 
  
  
}


.about-set{
  /*display: flex;
  justify-content: center;
  flex-wrap: wrap;*/
  margin-top: 100px;
  
  
}

.aboutinfo{
  margin-left: 300px;
  
}


/*

.columns{
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
  margin-left: 10px;
  margin: 200px;
  margin-top: 100px;
  
  @media screen and (max-width: 600px) 
  {
    margin-left: 50px;
    
  }
  

}

*/

