.card{
  margin: {
    top: 60px;
    right: 10px;    
  }  
  
  
  
  @media (max-width: 899px) {   
    
    margin-right: 130px;   //was 130px
  }  
  
  @media (max-width: 599px) {     
    margin-right: 130px; //was 130px
  }    
  
  &:hover{
   opacity: 60%;
  
  }
}



a {
  color: black;
  text-decoration: none;
}






.cards-list{
  display: grid;
  column-gap: 80px;/*was 80px*/
  font-family: $font-abeezee;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /*was 420 and 1fr*/
  grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));
  
  margin: 0 auto;
  margin-left: 100px;
  
  
  
  
 /* @media (max-width: 1236px) {
    
    
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    

      
  }*/ 
   @media (max-width: 599px) {     
       margin: 0 auto;
        margin-left: 70px; //was 50px
      }
   
  
  
  /*@media (min-width: 1280px)  {
        
   column-gap: 50px;      
        
      }*/
 }




.card-image{
  display: block;
  height: 275px;
  width: 325px;    /*was 325*/
  /*margin: 0 auto;/*
  /*padding: 10px;*/ /*delete this to align the image and header if you keep this*/
  
   @media (min-width: 1142px) and  (max-width: 1255px) {

      height: 350px;
      width: 450px;    
  }
  
  
  @media (max-width: 855px) {

      height: 400px;
      width: 500px;    
  }
  
   
  
    
  
   @media (max-width: 644px) /*was 599px*/{

      height: 200px;
      width: 300px;    
  }
  
   
     
  
      @media (min-width: 1281px) {
      height: 280px;
      width: 375px; 
     
  }
}




/* this lower code is for object fit, im not sure im happy with how it looks*/

/*
.card-image{
  
  object-fit:  scale-down;
  width: 420px;  
  margin: 10px 0;
  
   @media (max-width: 599px) {

      // If the JS does not load, do not display the button
      &:not([aria-expanded]) {
 object-fit:  scale-down; 
        width: 320px; 
        
      }
     
  

  }
}

*/



 