.card{
  margin: {
    top: 60px;
    right: 130px;    
  }  
  
  @media (max-width: 899px) {   
    
    margin-right: 130px;   
  }  
  
  @media (max-width: 599px) {     
    margin-right: 130px; 
  }  
  
  &:hover{
   opacity: 60%;
  
  }
}



a {
  color: black;
  text-decoration: none;
}




.cards-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 2fr)); /*was 420 and 1fr*/
  grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 80px;
  margin-left: 100px;
  font-family: $font-abeezee;
  
   @media (max-width: 599px) {     
       margin: 0 auto;
        margin-left: 50px; 
       }
  
  @media (min-width: 1280px)  {
        
   column-gap: 50px;      
        
      }
 }




.card-image{
  height: 275px;
  width: 325px;  
  display: block;
  /*padding: 10px;*/ /*delete this to align the image and header if you keep this*/
  
   @media (max-width: 599px) {

      height: 200px;
      width: 300px;          
  }
     
      @media (min-width: 1281px) {
      height: 280px;
      width: 375px; 
     
  }
}




/* this lower code is for object fit, im not sure im happy with how it looks*/

/*
.card-image{
  
  object-fit:  scale-down;
  width: 420px;  
  margin: 10px 0;
  
   @media (max-width: 599px) {

      // If the JS does not load, do not display the button
      &:not([aria-expanded]) {
 object-fit:  scale-down; 
        width: 320px; 
        
      }
     
  

  }
}

*/



 