.card{
  margin-top: 60px;
  margin-right: 130px;
  
  @media (max-width: 899px) {   
    
    margin-right: 130px;       
      

  }
  
  
  @media (max-width: 599px) {   
    
    margin-right: 130px; 
  }
  
}



a {
  color: black;
  text-decoration: none; /* no underline */
}






.cards-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 2fr)); /*was 420 and 1fr*/
  grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 80px;
  
  margin-left: 100px;
  
  /*padding-right: 10px;*/  
  font-family: 'ABeeZee', sans-serif;  
  
   @media (max-width: 599px) {     
       margin: 0 auto;
        margin-left: 50px; 
       }
  
  @media (min-width: 1280px)  {
        
   column-gap: 50px;      
        
      }
     }


.card:hover{
   opacity: 60%;
  
}



.card-image{
  height: 275px;
  width: 325px;  
  display: block;
  /*padding: 10px;*/ /*delete this to align the image and header if you keep this*/
  
   @media (max-width: 599px) {

            height: 200px;
            width: 300px;          
  }
     
      @media (min-width: 1281px) {
        height: 280px;
        width: 375px; 
     
  }
}




/* this lower code is for object fit, im not sure im happy with how it looks*/

/*
.card-image{
  
  object-fit:  scale-down;
  width: 420px;  
  margin: 10px 0;
  
   @media (max-width: 599px) {

      // If the JS does not load, do not display the button
      &:not([aria-expanded]) {
 object-fit:  scale-down; 
        width: 320px; 
        
      }
     
  

  }
}

*/





/*
.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.card-image{
  width: 600px;
  height: 450px;

}

.vl {
  border-left: 2px solid black;
  height: 2500px;
  position: absolute;
  margin-left: 100px;
 
}


.card {
  /*border-top: 3px solid $color-slate;*/
  /*margin-left: 125px;
  margin-right: 25px;
  margin-top: 60px;
  
  overflow: hidden;
  position: relative;
  transition: $transition-default;

  @media (max-width: 679px) {
    width: 100%;
    max-width: 600px;
  }

  @media (min-width: 680px) {
    flex: 1 0 auto;
    width: 30%;
  }

  &-content {
    padding: 12px;
    position: relative;
    z-index: 1;

    @media (min-width: 680px) {
      display: flex;
      flex-direction: column;
      min-height: 220px;
    }
  }

  &-title {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;

    a {
      color: $color-text-body;
      font-size: 28px;
      font-weight: 800;
      line-height: 1.3;
      text-decoration: none;
      transition: $transition-default;

      &:hover,
      &:focus {
        text-decoration: underline 2px;
      }
    }
  }
/*
  &-byline,
  &-category {
    font-family: $font-mono;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
  }

 /* &-category {
    border-bottom: 3px solid white;
    padding-bottom: 2px;
    width: min-content;
  }

  &::before,
  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: $transition-default;
  }

  &::before {
    opacity: 0.4;
  }
/*
  &:nth-child(even) {
    &::before {
      background: linear-gradient(130deg, $color-yellow, white);
    }
  }

  &:nth-child(odd) {
    &::before {
      background: linear-gradient(130deg, $color-mint, white);
    }
  }*/
/*}*/

