.faq-questions{
  margin-left: 300px;
  width: 800px;
  
  @media screen and (max-width: 600px){  
    margin-left: 50px;  
    width: 400px;
}
  
}

.faq-header{
  margin-left: 300px;
  margin-top: 100px;
  font-size: 20px;
  
   @media screen and (max-width: 600px) 
  {
    margin-left: 50px;
  }
  
}



li{
  padding-bottom: 25px;
}