.site-header {
  /*background-color: green;*/
  width: 100hv;
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  
  z-index: 10; 
  
}

/*
#site-menu{
    background-color: black;
        width: 500px;
        margin-top: -70px;
        margin-left: 10px;
    
    
    
  }

*/
 

.header-size{
  
  width: 350px;
  
  @media (max-width: 599px) {

      width: 250px;
                
      
             }
}

.site-name{
  background-color: white;
  
  display: flex;
  justify-content: center;
  
  
  
  margin-top: 0;
  
  
  
}

/*
img {
   -webkit-filter: invert(1);
   filter: invert(1);
   }*/
