.site-header {
  left: 0; 
  position: fixed;   
  right: 0; 
  top: 0; 
  width: 100hv;
  z-index: 10; 
  
}


.header-size{
  
  width: 350px;
  
  @media (max-width: 599px) {

      width: 250px;              
      
          }
    }



.site-name{
  background-color: white;  
  display: flex;
  justify-content: center;  
  margin-top: 0;
  
  
  padding:{    
    top: 20px;
    bottom: 10px;      
    
  }    
}

