.site-footer {
 margin-right: 150px; 
 margin-left: 125px; 
display: flex;
  background-color: black;
    justify-content: space-between;  
  
  
   @media (max-width: 599px) {

      // If the JS does not load, do not display the button
      &:not([aria-expanded]) {
        margin: 0 auto;
     }
  }
  

  



ul {
    list-style-type: none;

  
  
}


.list-contact{
  display: block; 
  
}

a{
text-decoration: none;  

}

a:visited { text-decoration: none; 
color: white;
  
  }
        
     }

