.site-footer {
 /*margin-right: 150px;*/
 /*margin-left: 125px;*/ 
display: flex;
  background-color: black;
    justify-content: space-around; 
  flex-wrap: wrap;
  width: 100
  
  
  
   @media (max-width: 599px) {

      // If the JS does not load, do not display the button
      &:not([aria-expanded]) {
        margin: 0 auto;
        display: block; 
     }
  }
  

  



ul {
    list-style-type: none;
  padding: 0;
  padding-left: 30px;
  padding-top: 40px;

  
  
}


.list-contact{
  display: block; 
  
}

a{
text-decoration: none;  
  color: pink;

}

a:visited { text-decoration: none; 
color: white;
  
  }
        
     }

