/*.site-wrapper {
  background-color: $color-offwhite;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;

  @media (min-width: 960px) {
    border-right: 1px solid $color-grey;
    box-shadow: 6px -1px 6px 0 mix(black, $color-grey, 12%);
    max-width: 1075px;
  }
}

*/