.site-nav {
  background-color: white;
  display: inline-block;
  position: fixed;
  margin-top: 80px;
  margin-left: 20px;
  font-family: 'ABeeZee', sans-serif;
  
  
  
  // This code here is what majes the nav diaappear
  
  >button{
   @media (max-width: 599px) {

      // If the JS does not load, do not display the button
      &:not([aria-expanded]) {
        display: none;
     }
       
     
     
      // Do not display the menu when the button has NOT been clicked
      &[aria-expanded="false"]+ul {
        display: none;
      }
    

    // Effects for viewports 600px or MORE
    @media (min-width: 600px) {
      // Do not display the button at this width
      display: none;
    }
  }

     
 
  
  
  
  


 /* .border-left {
    border-left: 2px solid black;
    margin-left: 125px;
}*/

  a {
    
    color: $color-text-body;
    display: inline;
    font-family: sans-serif;
    margin-bottom: -3px;    
    padding: 5px;
    padding-left: 25px;
    text-decoration: none;
    transition: $transition-default;

    &:hover,
    &:focus {
      border-bottom-color: rgba($color-slate, 70%);
    }
  }

  [aria-current] a {
    border-bottom-color: $color-slate;
    cursor: default;
  }
  }
}



 

