.site-footer {
  align-content: flex-end;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;   
  padding:{
    
     top: 40px;
     bottom: 10px;   
    
  }
  
   @media (max-width: 599px) {
        margin: 0 auto;
        display: block;        
     
  }
  

.footer-hover:hover{
    color: yellow;
  }
  
.list-contact{
  display: block; 
  list-style-type: none;
  padding: 0;
  padding-left: 70px;
  font-family: $font-abeezee;
  color: white; 
  
}

a{
  text-decoration: none;  
  color: white;
  

}

.a:visited { 
  color: white;  
    }
        
}

